<div class="container text-center">
  <h1 class="display-4 text-uppercase">Login</h1>
  <%= form_with(scope: :session, url: login_path, class: "p-3 mb-3 rounded",
  local: true) do |form| %>

  <div class="container">
    <%= form.label :email, class:"form-label" %><br />
    <%= form.email_field :email, class:"form-control text-black" %><br />
  </div>

  <div class="container">
    <%= form.label :password, class:"form-label" %><br />
    <%= form.password_field :password, class:"form-control text-black" %><br />
  </div>

  <div class="container">
    <%= form.submit "Log In" ,class:'btn btn-primary' %>
  </div>
  <% end %>
</div>
