<%= form_with model: article do |form| %>
<div class="container">
  <%= form.label :title, class:"form-label" %><br />
  <%= form.text_field :title, class:"form-control text-black" %> <%
  article.errors.full_messages_for(:title).each do |message| %>
  <div><%= message %></div>
  <% end %>
</div>

<div class="container">
  <%= form.label :body, class:"form-label" %><br />
  <%= form.text_area :body, class:"form-control text-black" %><br />
  <% article.errors.full_messages_for(:body).each do |message| %>
  <div><%= message %></div>
  <% end %>
</div>

<div class="container"><%= (form.submit :class=>'btn btn-primary') %></div>
<% end %>
