<div class="container">
	<div class="row justify-content-center">
		<div class="col-10">
			<%= render partial:'shared/errors', locals: {obj: @user} %>

			<%= form_with(model: @user, class: "shadow p-3 mb-3 bg-dark rounded", local: true) do |f| %>
			<div class="form-group row">
				<%= f.label :username, class: "col-2 col-form-label text-light" %>
				<div class="col-10">
					<%= f.text_field :username, class: "form-control shadow rounded
					text-black", placeholder: "Enter Your Username" %>
				</div>
			</div>

			<div class="form-group row">
				<%= f.label :email, class: "col-2 col-form-label text-light" %>
				<div class="col-10">
					<%= f.email_field :email, rows: 10, class: "form-control shadow
					rounded text-black", placeholder: "Enter Your Email" %>
				</div>
			</div>

			<div class="form-group row">
				<%= f.label :password_digest, class: "col-2 col-form-label text-light"
				%>
				<div class="col-10">
					<%= f.password_field :password, rows: 10, class: "form-control shadow
					rounded text-black", placeholder: "Enter Your Password" %>
				</div>
			</div>

			<div class="form-group row">
				<%= f.label :Profile_Picture, class: "col-2 col-form-label text-light", for: "formFile" %>
				<%= f.file_field :avatar, class:"form-control shadow
					rounded text-black", id: "formFile", required: true %>
			</div>

			<div class="form-group justify-content-center">
				<%= f.submit class: "btn btn-outline-light mt-2" %>
			</div>
			<% end %>
		</div>
	</div>
</div>
