<section class="register-form">
  <div class="container">
    <div class="row justify-content-center mb-3 pb-2">
      <div class="col-md-7 heading-section text-center ">
        <!--        For Error Messages-->
        <%= render 'layouts/messages' %>

        <!--        Login Heading and description-->
        <h2 class="mb-4">Register</h2>
        <p class="fw-bold">
          Hello there! Welcome to our registration page. Please fill out the required fields to create your account. If you already have an account, you can go back to the login page by clicking on the "Log in" button. Thank you for choosing to join our community!</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="wrap d-md-flex justify-content-center">
          <div class="register-wrap p-4 p-md-5">
            <div class="d-flex">
              <!--              Card Heading-->
              <div class="w-100">
                <h3 class="mb-4 register-form-heading text-uppercase text-center">Welcome</h3>
              </div>
            </div>
            <!--            Login Form Start-->
            <%= form_with(model: @user, local: true) do |f| %>

              <div class="register-form-group form-floating mb-3">
                <%= f.text_field :username, class:"form-control", placeholder:"yourname123", id:"floatingInput", required: true %>
                <%= f.label :username, for:"floatingInput", class:"register-label" %>
              </div>

              <div class="register-form-group form-floating mb-3">
                <%= f.text_field :first_name, class:"form-control", placeholder:"yourfirstname", id:"floatingInput", required: true %>
                <%= f.label :first_name, for:"floatingInput", class:"register-label" %>
              </div>

              <div class="register-form-group form-floating mb-3">
                <%= f.text_field :last_name, class:"form-control", placeholder:"yourlastname", id:"floatingInput", required: true %>
                <%= f.label :last_name, for:"floatingInput", class:"register-label" %>
              </div>

              <div class="register-form-group form-floating mb-3">
                <%= f.email_field :email, class:"form-control", placeholder:"name@example.com", id:"floatingInput", required: true %>
                <%= f.label :email, "Email Address", for:"floatingInput", class:"register-label" %>
              </div>

              <div class="register-form-group form-floating mb-3">
                <%= f.password_field :password, class:"form-control", placeholder:"Enter Password", id:"floatingInput", required: true %>
                <%= f.label :password, for:"floatingInput", class:"register-label" %>
              </div>

              <div class="register-form-group form-floating mb-3">
                <%= f.text_field :social_linkedin, class:"form-control", placeholder:"link", id:"floatingInput", required: true %>
                <%= f.label :social_linkedin, "LinkedIn Link", for:"floatingInput", class:"register-label" %>
              </div>

              <div class="register-form-group form-floating mb-3">
                <%= f.text_field :social_instagram, class:"form-control", placeholder:"link", id:"floatingInput" %>
                <%= f.label :social_instagram, "Instagram Link", for:"floatingInput", class:"register-label" %>
              </div>

              <div class="register-form-group form-floating mb-3">
                <%= f.text_field :social_facebook, class:"form-control", placeholder:"link", id:"floatingInput" %>
                <%= f.label :social_facebook, "Facebook Link", for:"floatingInput", class:"register-label" %>
              </div>

              <div class="register-form-group form-floating mb-3">
                <%= f.file_field :avatar, class:"form-control", id:"floatingInput", required: true %>
                <%= f.label :avatar, "Profile Picture", for:"floatingInput", class:"register-label" %>
              </div>

              <div class="register-form-group text-center">
                <%= f.submit "Register", class:'register-form-control btn btn-success rounded register-submit-btn px-3' %>
              </div>

<!--              Login link-->
              <p class="mt-4 register-login-link text-center">
                Already a member ?
                <%= link_to 'Login', login_path, class: "text-primary" %>
              </p>
            <% end %>
            <!--            Login Form End-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

