<section class="user-profile-page">
	<div class="container">
		<%= render 'layouts/messages' %>

		<div class="row justify-content-center mb-3 pb-2">
			<div class="col-md-7 heading-section text-center ">
				<h2 class="mb-2 text-uppercase">
					<% if logged_in? && @user == current_user %>
						Your Profile
					<% else %>
						<%= @user.username %>'s profile
					<% end %>
				</h2>
			</div>
		</div>

		<div class="row container d-flex justify-content-center p-3">
			<div class="col-xl-8 col-md-12">
				<div class="card user-card-full shadow-lg">
					<div class="row justify-content-center">
						<div class="col-sm-6 user-profile align-items-center">
							<div class="card-block text-center text-white">
								<div class="mb-3">
									<%= link_to image_tag(@user.avatar_lg, class:"user-profile-img"), @user.avatar, class:"user-profile-img", alt:"User Profile Image" %>
								</div>
								<h6 class="user-card-username">
									<%= @user.username %>
								</h6>
								<% if logged_in? && @user == current_user %>
									<%= link_to " ", edit_user_path(@user), class: "fa-regular fa-pen-to-square edit-icon mt-3" %>
								<% end %>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="card-block h-100">
								<div class="row">
									<div class="col-sm-12">
										<p class="user-info-label">Username</p>
										<h6 class="user-info-value"><%= @user.username %></h6>
									</div>
									<div class="col-sm-12">
										<p class="user-info-label">Email</p>
										<h6 class="user-info-value"><%= @user.email %></h6>
									</div>
									<div class="col-sm-12">
										<p class="user-info-label">Joined On</p>
										<h6 class="user-info-value"><%= time_ago_in_words(@user.created_at) %> Ago</h6>
									</div>
									<div class="col-sm-12">
										<p class="user-info-label">Account Updated At</p>
										<h6 class="user-info-value"><%= time_ago_in_words(@user.updated_at) %> Ago</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<h3 class="text-center mt-4">Articles</h3>
		<%= render 'articles/article' %>

		<div class="apple_pagination my-3">
			<p class="page_info">
				<%= page_entries_info @articles %>
			</p>
			<%= will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
		</div>

	</div>
</section>

