
<div class="container mt-3">

	<%= render 'shared/errors', obj: @category %>

	<%= form_with(model:@category, class: "p-3 mb-3", local: true) do |f| %>
		<div class="form-group">
			<%= f.label :name, "Category name", class: "form-label" %>
			<%= f.text_field :name, class: "form-control", placeholder: "Check if category is present in above list or Enter new", :required => true %>
		</div>

		<div class="form-group">
			<%= f.submit class: "btn btn-outline-dark mt-2" %>
		</div>
	<% end %>
</div>

