<!-- Navbar Start -->
<nav id="navbar_top" class="navbar navbar-expand-lg bg-light border-bottom">
	<div class="container">

		<!-- Logo -->
		<%= link_to "Knowledge.", root_path, class: "navbar-brand text-uppercase mx-4", id: "logo" %>

		<!-- Navbar toggle -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Collapse -->
		<div class="collapse navbar-collapse" id="navbarCollapse">

			<!-- Left Navigation -->
			<div class="navbar-nav mx-lg-auto">	
				<%= link_to "Home", root_path, class: "nav-item nav-link active" %>
				<%= link_to "About", about_path, class: "nav-item nav-link" %>
				<%= link_to "Community", users_path, class: "nav-item nav-link" %>

				<% if logged_in? %>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  Articles  </a>
						<ul class="dropdown-menu text-center">
							<li><%= link_to "Create New Article", new_article_path, class: "dropdown-item nav-item nav-link" %></li>
							<li><%= link_to "View Articles", articles_path, class: "dropdown-item nav-item nav-link" %></li>
						</ul>
					</li>

				<% else %>
					<li><%= link_to "Articles", articles_path, class: "dropdown-item nav-item nav-link" %></li>
				<% end %>

				<% if logged_in? && current_user.admin? %>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  Categories  </a>
						<ul class="dropdown-menu text-center">
							<li><%= link_to "Create New Category", new_category_path, class: "dropdown-item nav-item nav-link" %></li>
							<li><%= link_to "View Categories", categories_path, class: "dropdown-item nav-item nav-link" %></li>
						</ul>
					</li>
				<% else %>
					<li><%= link_to "Categories", categories_path, class: "dropdown-item nav-item nav-link" %></li>
				<% end %>
			</div>


			<!-- Right navigation -->
			<% if logged_in? %>
			<div class="navbar-nav ms-lg-4">
				<div class="d-flex align-items-center" style="margin-right: 5px;">
					<%= link_to image_tag(current_user.avatar, class: "nav-profile-image"), user_path(current_user), class: "nav-profile-image" %>
				</div>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#">
						<%= "(Admin)" if current_user.admin? %> <span class="username"> <%= current_user.username %> </span>
					</a>
					<ul class="dropdown-menu text-center">
						<li>
							<%= link_to "View Profile", user_path(current_user), class: "dropdown-item nav-item nav-link" %>
						</li>
						<li>
							<%= link_to "Edit Profile", edit_user_path(current_user), class: "dropdown-item nav-item nav-link" %>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li>
							<%= link_to 'Logout', logout_path, class: "dropdown-item nav-item nav-link text-warning", method: :delete %>
						</li>
					</ul>
				</li>
			</div>

			
			<% else %>
			<div class="navbar-nav ms-lg-4">
				<%= link_to 'Log In', login_path, class: "nav-item nav-link" %>
			</div>
			<!-- Action -->
			<div class="d-flex align-items-lg-center mt-3 mt-lg-0">
				<%= link_to 'Sign Up', signup_path, class: "nav-item text-primary w-full w-lg-auto" %>
			</div>
			<% end %>
		</div>
	</div>
</nav>
<!-- Navbar End -->